/Agh/DADM/DADM.opensdf

/Agh/DADM/DADM.sdf

/Agh/DADM/DADM.v11.suo

/Agh/DADM/Ekg/Debug/Ekg.log

/Agh/DADM/Ekg/Debug/custombuild.command.1.tlog

/Agh/DADM/Ekg/Debug/custombuild.read.1.tlog

/Agh/DADM/Ekg/Debug/custombuild.write.1.tlog

/Agh/DADM/Ekg/Debug/Ekg.lastbuildstate
/Agh/DADM/Ekg/Debug/Ekg.unsuccessfulbuild
